.card {
  max-width: 245px;
  overflow: hidden;
}


.cardTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 8;
  max-height: 32px;
  overflow: hidden;
}

.cardDescription {
  font-size: 14px;
  line-height: 16px;
  color: rgba(23, 23, 25, 0.3);
}