
.container {
  background: #fafafa;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 90vh;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  width: 100%;
  padding-top: 40px;
}

.searchPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}